<!DOCTYPE html>
<html lang="zh">
<head data-webp="true">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="https://plus.google.com/106874255145760166184/" rel="publisher">
    <link rel="apple-touch-icon" href="//qncdnimg.aoscdn.com/img/favicon.png?1562206020.114">
    <link rel="bookmark" href="//qncdnimg.aoscdn.com/img/compress-online/logo.png.webp?1562206015.114">
    <link rel="Shortcut Icon" href="//qncdnimg.aoscdn.com/img/compress-online/logo.png.webp?1562206015.114">
    <title>免费在线视频压缩工具 - 无水印、无需下载</title>
    <!-- This site is optimized with the Yoast SEO plugin v10.0.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="无需下载安装软件，该在线视频压缩工具可帮您快速降低视频文件大小且能输出高清晰度的视频画面。"/>
    <link rel="canonical" href="https://www.apowersoft.cn/compress-video-online"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="免费在线视频压缩工具 - 无水印、无需下载"/>
    <meta property="og:description" content="无需下载安装软件，该在线视频压缩工具可帮您快速降低视频文件大小且能输出高清晰度的视频画面。"/>
    <meta property="og:url" content="https://www.apowersoft.cn/compress-video-online"/>
    <meta property="og:site_name" content="Apowersoft - 为您提供专业的音视频下载，转换，录屏软件和免费在线解决方案"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="//qncdncss.aoscdn.com/css/old-browser.webp.css?1561125361.114">
    <script src="//qncdnjs.aoscdn.com/js/old-browser.js?1561125339.114"></script>
    <![endif]-->
    <link rel="stylesheet" href="//qncdncss.aoscdn.com/css/global.webp.css?1566299494.114">
    <link rel="stylesheet" href="//qncdncss.aoscdn.com/account/css/account.webp.css?1561624509.114">
    <link rel="stylesheet" href="//qncdncss.aoscdn.com/css/product.webp.css?1575452777.114">
    <link rel="stylesheet" href="//qncdncss.aoscdn.com/css/compress-online.webp.css?1572571089.114">
    <link rel="stylesheet" href="//qncdncss.aoscdn.com/css/download-buy.webp.css?1564736372.114">
    <script src="//qncdnjs.aoscdn.com/com/langs/zh.js?1561125340.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/polyfill.min.js?1561125339.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/jquery.js?1561445251.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/global.js?1561125339.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/lazysizes.min.js?1561125339.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/account/langs/zh.js?1561445706.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/account/js/account-com.js?1576043610.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/header.js?1576562912.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/product.js?1561125339.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/lib/axios.min.js?1561125361.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/lib/aliyun-oss-sdk.js?1561125361.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/lib/vue.min.js?1561125361.114" defer></script>
    <script src="//qncdnjs.aoscdn.com/js/compress-online-video.js?1576824943.114" defer></script>
    <script>var apowerConfig = {pageType: 'product', productId: 301,};</script>
    <script>var WXCONFIG = {'CONTENT_TYPE': 'A'};</script>
</head>
<body itemtype="http://schema.org/SoftwareApplication">

<div class="header black-header">
    <nav class="wrapper" itemprop="author" itemtype="http://schema.org/Organization">
        <a class="logo" itemprop="url" href="/" title="Apowersoft">
            <meta itemprop="name" content="Apowersoft">
            <img itemprop="logo" src="//qncdnimg.aoscdn.com/img/logo.png.webp?1562206034.114" alt="Apowersoft Logo">
        </a>
        <ul class="nav">
            <li class="has-sub product">产品&解决方案</li>
            <li class="store-link"><a rel="nofollow" href="/store/">商城</a></li>
            <li class="support-cm"><a rel="nofollow" href="/community/">社区</a></li>
            <li class="has-sub">专题</li>
            <li class="support-li"><a rel="nofollow" href="/support/">技术支持</a></li>
            <li class="has-sub">公司</li>
            <li class="help" style="display: none;"><a rel="nofollow" href="/support/submit-ticket/"
                                                       target="_blank">帮助</a></li>
            <li class="store" hidden><a rel="nofollow" target="_blank" href="/store/"><p class="store-text">商城</p></a>
            </li>
            <form target="_blank" action="https://www.baidu.com/" class="search-blank" autocomplete="off">
                <div class="input-field">
                    <div class="search-close"><i></i><i></i></div>
                    <input type="text" placeholder="搜索" name="as_q">
                    <input type="hidden" name="as_sitesearch" value="apowersoft.cn">
                </div>
                <div class="search-btn"><input type="submit" value="" name=""/></div>
            </form>
        </ul>
        <header-account-entry><span class="login">登录</span></header-account-entry>

        <div class="menu" title="菜单">
            <i></i><i></i><i></i>
        </div>
    </nav>

    <nav class="subnav solution">
        <div class="trangle"></div>
        <div class="subnav-wrapper">
            <dl>
                <dt class="multimedia">多媒体</dt>
                <dd class="solution-sr"><a href="/all-apowersoft">Apowersoft Unlimited</a></dd>
                <dd class="solution-ar"><a href="/video-editor">视频编辑王</a></dd>
                <dd class="solution-ar"><a href="/compress-file">压缩宝</a></dd>
                <dd class="solution-vc"><a href="/create-video">ApowerShow</a></dd>
                <dd class="solution-vd"><a href="/streaming-audio-recorder">录音精灵</a></dd>
                <dd class="solution-vm"><a href="/video-converter-studio">视频转换王</a></dd>
                <dd class="solution-vm"><a href="/watermark-remover">水印管家</a></dd>
                <dd class="solution-vm"><a href="/gif">傲软GIF</a></dd>
            </dl>
            <dl>
                <dt class="mobile">移动</dt>
                <dd class="solution-sr"><a href="/phone-manager">手机管理大师</a></dd>
                <dd class="solution-ar"><a href="/phone-mirror">ApowerMirror</a></dd>
                <dd class="solution-ar"><a href="/android-gameplay">傲软咖玩</a></dd>
                <dd class="solution-vc"><a href="/iphone-ipad-recorder">苹果录屏王</a></dd>
                <dd class="solution-vd"><a href="/android-recorder">安卓录屏王</a></dd>
                <dd class="solution-vd"><a href="/iphone-data-recovery">ApowerRescue</a></dd>
                <dd class="solution-vm"><a href="/ios-unlock">iOS解锁大师</a></dd>

            </dl>
            <dl>
                <dt class="utility">办公</dt>
                <dd class="solution-sr"><a href="/record-all-screen">ApowerREC</a></dd>
                <dd class="solution-ar"><a href="/pdf-editor">ApowerPDF</a></dd>
                <dd class="solution-vc"><a href="/data-recovery">数据恢复王</a></dd>
                <dd class="solution-vd"><a href="/screen-capture-pro">专业截屏王</a></dd>
                <dd class="solution-vd"><a href="/pdf-converter">PDF转换王</a></dd>
                <dd class="solution-sr"><a href="/screen-recorder">录屏王</a></dd>
                <dd class="solution-vd"><a href="/background-eraser">傲软抠图</a></dd>
                <dd class="solution-vm"><a href="/cad-viewer">傲软CAD看图</a></dd>

            </dl>
            <dl>
                <dt class="online">在线应用</dt>
                <dd class="solution-sr"><a href="/online-video-editor">在线视频编辑</a></dd>
                <dd class="solution-sr"><a href="/online-watermark-remover">在线水印管家</a></dd>
                <dd class="solution-sr"><a href="/compress-file-online">在线文件压缩</a></dd>
                <dd class="solution-sr"><a href="/free-online-screen-recorder">在线录屏</a></dd>
                <dd class="solution-ar"><a href="/free-audio-recorder-online">在线录音</a></dd>
                <dd class="solution-vc"><a href="/free-online-video-converter">在线视频转换</a></dd>
                <dd class="solution-hj"><a href="/heic-to-jpg">在线HEIC转换</a></dd>
                <dd class="solution-ae"><a href="/free-screen-capture">在线截图</a></dd>
                <dd class="solution-ae"><a href="/pdf-editor-online">在线PDF编辑</a></dd>
                <dd class="solution-ae"><a href="/online-mindmap">在线思维导图</a></dd>
                <dd class="solution-ae"><a href="/online-flowchart">在线流程图</a></dd>
                <dd class="solution-ae"><a href="/remove-background-online">在线抠图</a></dd>
            </dl>
        </div>
    </nav>
    <nav class="nav-popup guide">
        <div class="trangle"></div>
        <ul>
            <li><a href="/record-iphone-ipad-screen">如何录制iPhone及iPad</a></li>
            <li><a href="/mobile-games-on-pc">如何实现电脑玩手机游戏</a></li>
            <li><a href="/mac-screen-recorder">如何录制Mac屏幕</a></li>
            <li><a href="/mac-audio-recorder">如何录制Mac音频</a></li>
            <li><a href="/free-image-to-pdf-online">如何将图片转成PDF</a></li>
            <li><a href="/data-recovery-for-android">如何恢复安卓设备丢失文件</a></li>
            <li><a href="/android-manager">如何轻松传输安卓文件</a></li>
            <li><a href="/free-online-audio-editor">如何在线剪辑音频</a></li>

        </ul>
    </nav>

    <nav class="nav-popup company">
        <div class="trangle"></div>
        <ul>
            <li class="company-ab"><a href="/about-us">关于我们</a></li>
            <li class="company-ct"><a href="/contact-us">联系我们</a></li>
        </ul>
    </nav>

    <nav class="subnav products">
        <div class="trangle"></div>
        <ul class="subnav-wrapper">
            <li class="products-un"><a href="/all-apowersoft">Apowersoft Unlimited</a></li>
            <li class="products-rp"><a href="/screen-recorder">录屏王</a></li>
            <li class="products-ve"><a href="/video-editor">视频编辑王</a></li>
            <li class="products-ar"><a href="/streaming-audio-recorder">录音精灵</a></li>
            <li class="products-cs"><a href="/video-converter-studio">视频转换王</a></li>
            <li class="products-pm"><a href="/phone-manager">手机管理大师</a></li>
            <li class="products-am"><a href="/phone-mirror">手机投屏/录屏软件</a></li>
            <li class="products-dc"><a href="/video-download-capture">视频下载王</a></li>
            <li class="products-ad"><a href="/android-recorder">安卓录屏王</a></li>
            <li class="products-ir"><a href="/iphone-ipad-recorder">苹果录屏王</a></li>
            <li class="products-cp"><a href="/screen-capture-pro">专业截屏王</a></li>
            <li class="products-pv"><a href="/photo-viewer">看图助手</a></li>
            <li class="products-pt"><a href="/phone-transfer">手机快传</a></li>
            <li class="products-pdf"><a href="/pdf-editor">PDF编辑器</a></li>
            <li class="products-dr"><a href="/data-recovery">数据恢复王</a></li>
            <li class="products-hc"><a href="/heic-to-jpg">HEIC转换器</a></li>
            <li class="products-rs"><a href="/record-all-screen">ApowerREC</a></li>
            <li class="products-as"><a href="/create-video">ApowerShow</a></li>
        </ul>
    </nav>

    <nav class="subnav mac">
        <div class="trangle"></div>
        <ul class="subnav-wrapper">
            <li class="mac-sr"><a href="/mac-screen-recorder">Mac录屏王</a></li>
            <li class="mac-sh"><a href="/mac-screenshot">Mac截屏王</a></li>
            <li class="mac-ar"><a href="/mac-audio-recorder">Mac录音精灵</a></li>
            <li class="mac-dl"><a href="/mac-video-downloader">Mac视频下载王</a></li>
            <li class="mac-cf"><a href="/video-converter-for-mac">Mac视频转换通</a></li>
            <li class="mac-ir article"><a href="/iphone-ipad-recorder">苹果录屏王</a></li>
            <li class="mac-ad article"><a href="/android-recorder">安卓录屏王</a></li>
            <li class="mac-am article"><a href="/phone-mirror">手机投屏/录屏软件</a></li>
            <li class="mac-un article"><a href="/all-apowersoft">Apowersoft Unlimited</a></li>
            <li class="mac-dr article"><a href="/data-recovery">数据恢复王</a></li>
        </ul>
    </nav>

    <nav class="subnav category-entrance">
        <div class="trangle"></div>
        <ul class="subnav-wrapper">
            <li><a href="/category/screen-recorder">录屏</a></li>
            <li><a href="/category/streaming-audio-recorder">录音</a></li>
            <li><a href="/category/video-editor">视频编辑</a></li>
            <li><a href="/category/screen-capture">截图</a></li>
            <li><a href="/category/mobile-manager">手机助手</a></li>
            <li><a href="/category/video-converter">音视频转换</a></li>
            <li><a href="/category/video-download">视频下载</a></li>
            <li><a href="/category/press-release-and-news">最新动态</a></li>
            <li><a href="/category/news">热门资讯</a></li>
            <li><a href="/category/pdf-solution-and-tips">PDF解决方案</a></li>
        </ul>
    </nav>

    <nav class="nav-popup coupon">
        <div class="trangle"></div>
        <ul>
            <li class="coupon-unlimit"><a href="/all-apowersoft">Apowersoft Unlimited</a></li>
            <li class="coupon-pro"><a href="/promotion">精选软件折扣专区</a></li>
        </ul>
    </nav>

</div><!-- 2019/7/3 应zoe要求隐藏头部导航和下载按钮 -->
<style>
    .header .nav {
        position: relative;
        z-index: -100;
        opacity: 0;
    }

    a.download {
        display: none !important;
    }

    a.buy {
        display: none !important;
    }

    .footer-main dl:first-child {
        display: none;
    }
</style>
<script>
    var initMsg = '参数初始化中，请稍等';
    var unsupportMsg = '抱歉，暂不支持此格式';
    var mostMsg = '最多同时处理50个任务！';
    var precedenceList1 = '缩小优先';
    var precedenceList2 = '普通压缩';
    var precedenceList3 = '清晰优先';
    var imageOutput1 = '保持原格式';
    var imageOutput2 = 'JPG';
    var videoOutput1 = '保持原格式';
    var videoOutput2 = 'MP4';
    var resolutionList1 = '保持原分辨率';
</script>
<div class="subheader">
    <div class="wrapper">
        <div class="logo" title="Back to top">
            <b>在线视频压缩</b>
        </div>
        <ul class="navlist">
            <li class="active"><a rel="nofollow" href="#">特点</a></li>
            <!--<li><a rel="nofollow" href="/faq/use-apowercompress.html">引导</a></li>-->
            <li><a rel="nofollow" class="open-reviews" href="JavaScript:void(0)">评论</a></li>
        </ul>
        <div class="offer" itemprop="offers" itemtype="https://schema.org/Offer">
            <a class="download" href="https://download.apowersoft.cn/down.php?softid=apowercompress" rel="nofollow"
               id="download1">免费下载</a>
            <a class="buy" itemprop="url" href="/store/compress-file.html" rel="nofollow" id="buy-now1">马上购买</a>
        </div>
    </div>
</div>

<section class="main" id="app" v-cloak>
    <div class="wrapper">
        <div class="main-write">
            <h2>在线视频压缩</h2>
            <div class="describe">
                免费 高效 无水印
            </div>
            <rating selectable rating="5" size="small" review-count="218"></rating>
            <!--sc-->
            <input type="file" ref="fileInput"
                   accept=".pdf,.jpg,.jpeg,.png,.gif,.bmp,.tif,.tiff,.mp4,.mkv, .flv,.mov,.wmv,.webm,.3gp,.rmvb,.avi,.asf,.m4v,.mpeg,.mpg,.ts,.mts"
                   style="display:none;" multiple="multiple" @change="onFileChange()"/>
            <div class="limited-modal" v-if="islimited">
                <div>
                    <span class="btn-close" @click="islimited = false;"></span>
                    <p>文件超过 {{maxSize}}MB, 请使用桌面端。</p>
                    <div class="modal-btns">
                        <a class="download" href="https://download.apowersoft.cn/down.php?softid=apowercompress"
                           rel="nofollow" id="download6" @click="islimited = false;">是</a>
                        <a class="download" href="javascript:;" @click="islimited = false;">否</a>
                    </div>
                </div>
            </div>
            <div class="limited-modal" v-if="islimited">
                <div>
                    <span class="btn-close" @click="islimited = false;"></span>
                    <p>File exceeds the limit of {{maxSize}}MB, please get pro version for bigger file.</p>
                    <div class="modal-btns">
                        <a class="download" href="https://download.apowersoft.com/down.php?softid=apowercompress"
                           rel="nofollow" id="download6" @click="islimited = false;">Yes</a>
                        <a class="download" href="javascript:;" @click="islimited = false;">No</a>
                    </div>
                </div>
            </div>
            <input type="file" ref="fileInput"
                   accept=".mp4,.mkv,.flv,.mov,.wmv,.webm,.3gp,.rmvb,.avi,.asf,.m4v,.mpeg,.mpg,.ts,.mts"
                   style="display:none;" multiple="multiple" @change="onFileChange()"/>

            <div class="func-center-area pdf-area box-before-after" @click="addFile()"
                 v-if="currentRouter === 'uploader'">
                <div class="container">
                    <img src="//qncdn.aoscdn.com/img/compress-online/add-icon.svg?1562206014.114">
                    <h3>点击添加视频</h3>
                </div>
            </div>

            <div class="box-before-after workbench pdf-workbench" v-if="currentRouter === 'fileList'">
                <div class="container">
                    <div class="title-item">
                        <div class="title-item-l">
                            文件列表
                        </div>
                        <div class="title-item-r" :class="{forbid:appStatus === 'processing'}" @click="addFile()">
                            添加视频
                        </div>
                    </div>
                    <div class="file-item">
                        <div class="file-item-head">
                            <span class="file-name">文件</span>
                            <span class="uploading"
                                  :class="{showIphone:appStatus === 'uploading' || appStatus === 'uploaded'}">上传进度</span>
                            <span class="file-type">格式</span>
                            <span class="file-size">压缩前</span>
                            <span class="processed-size">压缩后</span>
                            <span class="processed-percent"
                                  :class="{showIphone:appStatus === 'processing' || appStatus === 'finished'}">压缩率</span>
                            <span class="processing"
                                  :class="{showIphone:appStatus === 'processing' || appStatus === 'finished'}">压缩进度</span>
                            <span class=""></span>
                        </div>
                        <div class="file-item-list">
                            <div v-bind:key="file.key" :class="{ 'disabled': !hasDownloaded}" v-for="file in fileList">
                                <p v-if="file" :title="file.name">
                                    <span class="file-name"
                                          :class="{'pdf': file.fileType==='pdfs', 'image': file.fileType==='images', 'video': file.fileType==='videos'}">{{ getShortName(file.name, 25) }}</span>
                                    <span class="uploading"
                                          :class="{showIphone:appStatus === 'uploading' || appStatus === 'uploaded'}">{{Math.floor(file.upload_progress*100)}}%</span>
                                    <span class="file-type">{{file.fileExtension}}</span>
                                    <span class="file-size"><span v-if="file.size">{{file.size | size}}</span></span>
                                    <span class="processed-size"><span v-if="file.finished_size">{{file.finished_size | size}}</span></span>
                                    <span class="processed-percent"
                                          :class="{showIphone:appStatus === 'processing' || appStatus === 'finished'}"><span
                                            v-if="file.size && file.finished_size">{{((file.size - file.finished_size) / file.size * 100).toFixed(2)}}%</span></span>
                                    <span class="processing"
                                          :class="{showIphone:appStatus === 'processing' || appStatus === 'finished'}"><span
                                            v-show="file.process_progress!=0">{{file.process_progress}}%</span></span>
                                    <span class="delete"
                                          :class="{showIphone:appStatus === 'uploading' || appStatus === 'uploaded'}"
                                          @click="removeFile(file)"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item"
                         v-if="!(fileList.length === 0 || appStatus === 'processing' || appStatus === 'finished')">
                        <div class="compress-precedence">
                            <span>压缩选项：</span>
                            <ul>
                                <li v-for="item of compressPrecedenceList"
                                    :class="{checked:compressPrecedence==item.value}"
                                    @click="changeCompressPrecedence(item.value)">{{item.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="compress-type compress-type-img" v-if="hasImage">
                            <span>输出格式：</span>
                            <ul>
                                <li v-for="item of imageOutputFormatList"
                                    :class="{checked:item.value===imageOutputFormat}"
                                    @click="changeImageOutputFormat(item.value)">{{item.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="compress-type" v-if="hasVideo">
                            <span>输出格式：</span>
                            <ul>
                                <li v-for="item of videoOutputFormatList"
                                    :class="{checked:item.value===videoOutputFormat}"
                                    @click="changeVideoOutputFormat(item.value)">{{item.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="compress-resolution" v-if="hasVideo">
                            <span>输出分辨率：</span>
                            <div class="selectBox">
                                <div class="selectBox_show" v-on:click.stop="arrowDown">
                                    <i class="icon icon_arrowDown"></i>
                                    <p title="请选择">{{resolutionLabel}}</p>
                                </div>
                                <div class="selectBox_list" v-show="isShowSelect">
                                    <div class="selectBox_listLi" v-for="item of resolutionList"
                                         @click.stop="selectResolution(item)">{{item.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="process-info" v-if="appStatus === 'processing' || appStatus === 'finished'">
                        <div class="processing" v-if="appStatus === 'processing'">
                            <p class="p1"><span class="circle"></span><span
                                    class="process">{{processedNumber}} </span><span class="length">/ {{toProcessNumber}}</span>文件压缩中...
                            </p>
                            <div class="btns">
                                <!--  <p class="grey" @click="stopProcessing()">暂停压缩</p> -->
                                <p class="white-btn down-btn" :class="{downloading:downloading}"
                                   v-if="processedSuccessNumber > 0" @click="downloadFinished()">下载压缩成功文件</p>
                            </div>
                        </div>
                        <div class="finished" v-if="appStatus === 'finished'">
                            <p class="p2">
                                <span class="success">{{processedSuccessNumber}}个</span>文件<span
                                    v-if="processedFailNumber <= 0">全部压缩成功.</span><span v-if="processedFailNumber > 0">压缩成功，<span
                                    class="failed">{{processedFailNumber}}个</span>文件压缩失败</span><span class="readd"
                                                                                                     @click="addFile()">继续添加</span>
                            </p>
                            <div class="btns">
                                <span class="blue-btn" :class="{downloading:downloading}"
                                      v-if="processedSuccessNumber> 0" @click="downloadFinished()">下载<span
                                        v-if="processedFailNumber <= 0">全部</span><span v-if="processedFailNumber > 0">压缩成功</span>文件</span><span
                                    class="white-btn" v-if="processedFailNumber > 0"
                                    @click="submit(true)">重新压缩失败文件</span>
                            </div>
                        </div>
                    </div>
                    <a class="begin-work" :class="{active:appStatus === 'uploaded'}"
                       v-show="!(fileList.length === 0 || appStatus === 'processing' || appStatus === 'finished')"
                       @click="submit(false)">压缩</a>
                </div>
            </div>
            <div class="btn-group">
                <!-- <a class="download" href="https://download.apowersoft.cn/down.php?softid=apowercompress" rel="nofollow" id="download1-1">
                    <span class="download-span" id="download-span1-1">下载客户端随时随地高效处理&gt;&gt;</span>
                </a>-->
            </div>
        </div>
        <div class="content-box video-box">
            <ul>
                <li>
                    <img src="//qncdn.aoscdn.com/img/compress-online/total-icon3.svg?1562206015.114">
                    <div class="title">100%安全</div>
                    <div class="dec">我们不会下载、转发任何您上传的视频资料，所有的操作都是直接在浏览器中进行的，确保您的文件安全性达到100%。
                    </div>
                </li>
                <li>
                    <img src="//qncdn.aoscdn.com/img/compress-online/image-icon1.svg?1562206015.114">
                    <div class="title">免费使用
                    </div>
                    <div class="dec">
                        无需注册或下载任何软件，您可以使用该免费服务的所有功能。除此之外，在使用过程中，您不会受到任何广告干扰。
                    </div>
                </li>
                <li>
                    <img src="//qncdn.aoscdn.com/img/compress-online/video-icon3.svg?1562206015.114">
                    <div class="title">支持Windows及Mac</div>
                    <div class="dec">
                        该视频压缩工具不仅能完美兼容Windows及Mac操作系统，而且能在所有主流的浏览器上运行。
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="onecont func-easy">
    <div class="wrapper">
        <div class="introduce-text">
            <h3>无损压缩主流影片</h3>
            <p>免安装下载，任何场地都能轻松压缩</p>
        </div>
        <div class="content-box" data-inview>
            <ul>
                <li>
                    <div class="title">压缩率高且速度快</div>
                    <div class="compress">
                        <img src="//qncdnimg.aoscdn.com/img/compress-online/video-fun1.png.webp?1562206015.114">
                    </div>
                    <div class="dec">视频压缩全程在云端进行，压缩速率不受计算机运行速度影响。支持设置压缩后的视频分辨率和大小，可以最大程度将视频压缩到指定大小。
                    </div>
                </li>
                <li>
                    <div class="title">支持多种格式</div>
                    <div class="compress">
                        <img src="//qncdnimg.aoscdn.com/img/compress-online/video-fun2.png.webp?1562206015.114">
                    </div>
                    <div class="dec">支持压缩几乎所有的视频格式包括：MP4、WMV、AVI、MOV、RMVB、WEBM、3GP、ASF、M4V、TS、MTS等。
                    </div>
                </li>
                <li>
                    <div class="title">人性化的压缩选项</div>
                    <div class="compress">
                        <img src="//qncdnimg.aoscdn.com/img/compress-online/video-fun3.png.webp?1562206015.114">
                    </div>
                    <div class="dec">目前提供两种压缩选项：缩小优先及清晰优先。每种压缩选项都有它独特的优势，您按需选择即可达到满意要求。
                    </div>
                </li>
            </ul>
            <div class="btn-group">
                <!--  <a class="btn" href="https://download.apowersoft.cn/down.php?softid=apowercompress" rel="nofollow" id="download2">
                    <span class="download-span" id="download-span2">下载客户端随时随地高效处理&gt;&gt;</span>
                </a>-->
            </div>
        </div>
    </div>
</section>
<section class="onecont func-easy func-easy-quick">
    <div class="wrapper">
        <div class="introduce-text">
            <h3>压缩视频 三步完成</h3>
            <p>为高效人士定制的专业压缩解决方案</p>
        </div>
        <div class="content-box" data-inview>
            <ul>
                <li>
                    <div class="title">上传视频</div>
                    <div class="compress">
                        <img src="//qncdnimg.aoscdn.com/img/compress-online/step1.png.webp?1562206015.114">
                    </div>
                    <div class="dec">点击“+”来添加需要压缩的视频文件。
                    </div>
                </li>
                <li>
                    <div class="title">设置压缩选项或分辨率</div>
                    <div class="compress">
                        <img src="//qncdnimg.aoscdn.com/img/compress-online/step2.png.webp?1562206015.114">
                    </div>
                    <div class="dec">根据需求选择最适合的压缩选项及视频输出分辨率。
                    </div>
                </li>
                <li>
                    <div class="title">开始压缩</div>
                    <div class="compress">
                        <img src="//qncdnimg.aoscdn.com/img/compress-online/step3.png.webp?1562206015.114">
                    </div>
                    <div class="dec">点击“压缩”按钮来启动服务进行压缩。
                    </div>
                </li>
            </ul>
            <div class="btn-group">
                <!--<a class="btn" href="https://download.apowersoft.cn/down.php?softid=apowercompress" rel="nofollow" id="download2-1">
                    <span class="download-span" id="download-span2-1">下载客户端随时随地高效处理&gt;&gt;</span>
                </a>-->
            </div>
        </div>
    </div>
</section>
<section class="onecont review">
    <div class="wrapper">
        <div class="introduce-text">
            <h4>“客户第一”是我们坚守的价值理念，聆听客户的宝贵意见：</h4>
        </div>
        <!--    <rating selectable rating="5" size="small" review-count="218"></rating> -->
        <div class="content-box">
            <ul>
                <li>
                    <img src="//qncdnimg.aoscdn.com/img/compress-online/user4.png.webp?1562206015.114">
                    <div class="title">因为视频的体积太大了，没法通过邮件发送给我的客户，所以就用这个在线视频压缩工具试了一下，压缩后大小减了很多，谢谢！</div>
                    <div class="dec">——张勇
                    </div>
                </li>
                <li>
                    <img src="//qncdnimg.aoscdn.com/img/compress-online/user5.png.webp?1562206015.114">
                    <div class="title">这款软件挺方便的，不用下载安装而且还没有任何限制，个人非常喜欢，望更多有压缩视频需求的人可以用到。</div>
                    <div class="dec dec-second">
                        ——乌托邦女王
                    </div>
                </li>
                <li>
                    <img src="//qncdnimg.aoscdn.com/img/compress-online/user6.png.webp?1562206015.114">
                    <div class="title">我是一名小白，对电脑操作不熟练，不太喜欢用专业复杂的软件来压缩视频，但是没想到这款软件操作起来这么简单，我打算分享给我身边的朋友啦！</div>
                    <div class="dec">
                        ——李健
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="onecont edit-bottom">
    <div class="wrapper">
        <div class="introduce-text">
            <h2>视频瘦身，由此开始</h2>
        </div>
        <rating selectable rating="5" size="small" review-count="218"></rating>
        <div class="btn-group">
            <!--<a class="btn" href="https://download.apowersoft.cn/down.php?softid=apowercompress" rel="nofollow" id="download3"><span class="download-span" id="download-span3">下载客户端</span></a>-->
        </div>
        <p class="down-num">已为全球<span>1387240</span>人提供服务</p>
    </div>
</section>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebApplication",
        "name": "在线视频压缩",
        "description": "免费在线批量压缩视频文件，帮您快速压缩视频文件到指定大小且能输出高清晰度的视频画面。",
        "image": "https://qncdncss.aoscdn.com/img/compress/logo.png",
        "operatingSystem": "Windows",
        "applicationSuite": "文件压缩",
        "applicationCategory": "压缩宝,压缩",
        "offers": {
            "@type": "Offer",
            "priceCurrency": "CNY",
            "price": "0.0"
        },
        "aggregateRating": {
            "@context": "http://schema.org",
            "@type": "AggregateRating",
            "worstRating": "1",
            "bestRating": "5",
            "ratingValue": "4.8",
            "ratingCount": "433"
        }
    }

</script>
<input type="hidden" name="hidden-post-id" id="hidden-post-id" value="29192"/>
<footer class="footer">
    <div class="wrapper">
        <div class="footer-main">
            <dl>
                <dt>合作伙伴</dt>
                <dd><a rel="nofollow" href="https://airmore.cn/" target="_blank">爱莫助手</a></dd>
                <!--<dd><a rel="nofollow" href="http://www.3987.com/index.php?m=search&c=index&a=init&typeid=2&q=Apowersoft" target="_blank">统一下载</a></dd>-->
                <!--<dd><a rel="nofollow" href="http://rj.baidu.com/search/index/?kw=Apowersoft" target="_blank">百度软件开放平台</a></dd>-->
                <dd><a rel="nofollow" href="http://xiazai.zol.com.cn/" target="_blank">ZOL软件下载</a></dd>
                <dd><a rel="nofollow" href="http://ks.pconline.com.cn/download.shtml?q=Apowersoft&scope="
                       target="_blank">太平洋电脑网</a></dd>
                <dd><a rel="nofollow" href="http://www.kuhou.com/" target="_blank">酷猴游戏</a></dd>
                <dd><a rel="nofollow"
                       href="http://search.onlinedown.net/search_list.php?searchsid=1&searchname=Apowersoft&button="
                       target="_blank">华军软件园</a></dd>
                <dd><a rel="nofollow" href="http://www.polyv.net/" target="_blank">保利威视频云</a></dd>
            </dl>
            <dl>
                <dt>Apowersoft</dt>
                <dd><a rel="nofollow" href="/contact-us">联系我们</a></dd>
                <dd><a href="/sitemap.html">网页地图</a></dd>
                <dd><a rel="nofollow" href="/privacy">保密政策</a></dd>
            </dl>
            <dl>
                <dt>联系&amp;帮助</dt>
                <dd class="support-help"><a rel="nofollow" href="/support/">客服中心</a></dd>
                <dd class="support-email"><a rel="nofollow" href="/support/submit-ticket/">在线提交问题</a></dd>
                <dd class="support-forum"><a href="/community">社区</a></dd>
            </dl>
            <dl>
                <dt>选择语言</dt>
                <dd class="footer-select">
                    <language-select></language-select>
                </dd>
            </dl>
        </div>
        <div class="copyright"><p>Copyright &#169; 2008 - 2020 Apowersoft Ltd.保留所有权利。</p>
            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备14077691号-2</a>
            <a rel="nofollow" href="/terms">条款</a>
            <a rel="nofollow" href="/privacy">隐私</a>
            <a rel="nofollow" href="/cookies-policy">Cookies策略</a>
            <a rel="nofollow" href="/end-user-license-agreement">许可协议</a>
        </div>
    </div>
</footer>


<div class="right-bar">
    <div class="bar-qq"><span>QQ群: 838681965</span> <a href="https://jq.qq.com/?_wv=1027&k=5P0ibzi"
                                                       target="_blank">+加入</a></div>
    <span class="bar-wx" data-layer="code-layer" data-align="lc">
        <div class="code-layer">
           <div class="title">官方服务微信号</div>
           <div class="code"></div>
           <div class="heart">用心做好每一款软件</div>
        </div>
    </span>
    <div class="bar-news"><span>new</span></div>
    <div class="bar-support" data-open-online-form>技术支持</div>
    <div class="bar-share" data-open-share>分享</div>
    <div class="bar-review" data-open-review>点评</div>
    <div class="bar-comment" data-open-comment>评论</div>
    <div class="bar-rocket">返回顶部</div>
</div>


<script async src="https://www.googletagmanager.com/gtag/js?id=GTM-TPZSJT6"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-66601372-17');
</script>


<script>!function () {
    try {
        var a = document.getElementsByTagName("head")[0], b = document.createElement("script"), c = document.referrer,
            d = "//cdnweb.aoscdn.com/hawkeye.js", e = "";
        if (e && (d += e), c) {
            var f = e ? "&" : "?";
            d = d + f + "__referer__=" + encodeURIComponent(c)
        }
        b.src = d, a.appendChild(b)
    } catch (g) {
    }
}(window);</script>
</body>

</html>
<!-- Request url: /compress-video-online, Generated time: 2020-01-13 03:23:04, Is 404: 0 -->
